.moneda
{
margin-left: 5px;
   
}

.convertir
{
  margin-left: 50px;  
}

.mon
{
    margin-left: 100px;
}
.resultado
{
  
  margin-right: 400px;  
    
}

.conversion
{
    margin-right: 350px; 
    font-size: 1.2em;
    
}
